* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  width: 50vh;
  height: 50vh;
  background-color: black;
}
.circle {
  position: absolute;
  /* top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  if it will be activated, js work strange*/
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #cfcfcf;
  border: none;
}
